# Compiled sources
*.pyc
build/
dist/

# Setup
**.egg*

# Jupyter notebooks
**.ipynb_checkpoints*

# Sphinx documentation
_build

# Editor files
.idea

# Test files
.pytest_cache
.cache

# Outputs
**/out/*

# data
Pre-skills/*.npy
.gitignore



Pre-skills/a_his.npy
Pre-skills/anchors.npy
Pre-skills/n_his.npy
Pre-skills/negatives.npy
Pre-skills/p_his.npy
Pre-skills/positives.npy
ALL/aa_his.npy
*.npy
